<div class="row row-centered">
  <div class="col-sm-6 col-centered">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-body">
        <div class="row row-centered">
          <div class="col-md-12 bootcards-list">
            <iframe style="width: 1205px; height: 615px" src="{{model.graphSource}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
