<div class="row row-centered">
  <div class="col-sm-4 col-centered">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-body">
        <div class="center-block" style="max-width:400px">
          <button {{action "showGraph"}} class="btn btn-primary btn-lg btn-block">Show Graph</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-1 col-centered">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-body">
        <div class="jumbotron-icon">
          <i class="fa fa-circle fa-6 faded"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}